{% extends 'base.html.twig' %}

{% block title %}Accueil - Baptiste BORDENAVE{% endblock %}

{% block body %}
<br>
<div class="pdp">
    <img class="img-pdp" src="https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_960_720.jpg">
</div>

{% endblock %}
