{% extends 'base.html.twig' %}

{% block title %}Accueil - Baptiste BORDENAVE{% endblock %}

{% block body %}
<br>
<h1>Bienvenue sur ma page personnelle !</h1>
<p style="float:right"><img src="https://cdn.pixabay.com/photo/2017/07/31/16/18/engineer-2558705_960_720.jpg" width=300 /></p>
<p>Bonjour ! Je me présente, je suis Baptiste, étudiant en B.U.T (Bachelor Universitaire de Technologie) en Réseaux et Télécommunications à l'IUT de Roanne (Loire (42)), je suis originaire de la région de Bordeaux où j'y ai grandi, étant un grand fan des nouvelles technologies et plus particulièrement des réseaux&télécommunications j'ai effectué un BAC STI2D avant de faire mon BUT mais je vous laisse en savoir un peu plus sur mes passions en cliquant sur le boutons en bas : </p><br><a href="/portfolio/passion"><button type="button" class="btn btn-primary btn-lg">En savoir plus !</button></a>
<div style="clear:both"></div>

{% endblock %}
