{% extends 'base.html.twig' %}

{% block title %}Accueil - Baptiste BORDENAVE{% endblock %}

{% block body %}
<br>
<h1>Portfolio</h1>
<br>
  <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">
      <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">R101b : Initiation aux réseaux d'entreprise</div>
          <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <p class="card-text"><br>Ce module m'a initié aux réseaux informatiques : adresse IP, classes, masque de sous-réseaux, broadcast, etc ... <br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
              <div class="card-header">R108 : Fondamentaux des systèmes d'exploitations</div>
              <div class="card-body">
                  <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <p class="card-text"><br>Ce module m'a initié au système d'exploitation Linux (Ubuntu) et plus particulièrement les commandes de bases dans le shell (Unix) ayant très peu de connaissance, j'ai dû fournir beaucoup de travail personnel pour arriver à se résultat. <br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">
      <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">R102 : Architecture de l'information numérique et de l'internet</div>
          <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
              <div class="card-header">R103 : Equipements et réseaux locaux</div>
              <div class="card-body">
                  <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 95%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">
      <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">R104 : Fondamentaux des lois électriques</div>
          <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
              <div class="card-header">R105 : Initiation aux réseaux cuivres, fibre optique et Hertzien</div>
              <div class="card-body">
                  <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">
      <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">R106 : Fondamentaux des systèmes électroniques</div>
          <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
              <div class="card-header">R107 : Fondamentaux de la programmation : Langage C et Python</div>
              <div class="card-body">
                  <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 45%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">
      <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">R109 : Programmations web / Initiation à l'HTML, CSS et Symfony</div>
          <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
              <div class="card-header">R110 : Anglais courant et technique</div>
              <div class="card-body">
                  <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">
      <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">R111 : Communications professionnelles & Culture générale</div>
          <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
              <div class="card-header">R112 : Gestion du portfolio</div>
              <div class="card-body">
                  <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">
      <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">R113 : Mathématiques du signal</div>
          <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 38%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div>
          <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
              <div class="card-header">R114 : Mathématiques des transmissions</div>
              <div class="card-body">
                  <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 54%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="col">
  <div class="card text-white bg-success mb-3" style="max-width: 90rem;">
      <div class="card-header">R115 : Gestion de Projet</div>
            <div class="card-body">
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><br><a href="https://google.fr/"><button type="button" class="btn btn-dark">Pièce justificative</button></a></p>
          </div>
        </div>
      </div>

{% endblock %}
